:root {
  --spacing: 0.2rem;
  --clr-primary-5: #d75314;
  --clr-primary-1: #9d3402;
  --transition: all 0.3s linear;
  --radius: 0.25rem;
  --dar-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.section-title {
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.banner {
  background-image: url("../images/blue-orange.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.banner h1 {
  font-size: 3rem;
}
.banner h4 {
  font-size: 0.75rem;
}

.banner .btn {
  color: #fff;
  border-color: var(--clr-primary-5);
}
.banner .btn:hover {
  color: #fff !important;
  background-color: var(--clr-primary-5);
}

@media (max-width: 992px) {
  .banner h4 {
    font-size: 0.85rem;
  }
}

@media (max-width: 800px) {
  .banner h1 {
    font-size: 4rem;
  }
}

/* 
==========
Footer
==========
*/

.footer {
  height: 10rem;
}

/* 
===============
Contact
==============
*/
.btn-contact {
  background: var(--clr-primary-5);
}
